.naruto{
    background-image: url("imagenesanime/naruto.png");
    background-size: auto 100%;
    background-color: bisque;
}
.dragonballz{
    background-image: url("imagenesanime/dragonballz.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(196, 231, 255);
}
.onepiece{
    background-image: url("imagenesanime/onepiece.png");
    background-size: auto 110%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(196, 231, 255);
}
.shingeki{
    background-image: url("imagenesanime/shingeki.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.fairy{
    background-image: url("imagenesanime/Fairy.png");
    background-size:auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.fullmetal{
    background-image: url("imagenesanime/fullmetal.png");
    background-size: auto 100% ;
    background-repeat: no-repeat;
    background-position: center;
}
